/* Modal Background */
.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Popup Box */
.auth-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 10px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  margin-top: 8px;
  cursor: pointer;
}
