body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;

  background-image: url("images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.55);
  z-index: -1;
}



h1 {
  color: #756d05;
}

p {
  font-size: 18px;
  color: #050000;
}
nav {
  background-color: #567141;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.filters {
  margin: 20px 0;
}

.filters select {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
.car-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.car-card {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.car-card h3 {
  color: #669239;
  margin-bottom: 10px;
}

.car-card p {
  margin: 5px 0;
}

.car-card button {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.call-btn {
  display: block;
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  background-color: #16a34a;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.call-btn:hover {
  background-color: #15803d;
}
.dealer-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.dealer-card {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dealer-card h3 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.dealer-card a {
  color: #16a34a;
  text-decoration: none;
  font-weight: bold;
}

